.hero,
.servicos,
.diferenciais,
.sobre,
.cta-final,
.contato,
footer {
  padding-top: var(--space-section);
  padding-bottom: var(--space-section);
}

.hero,
.sobre {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  overflow-x: hidden;
  overflow-y: hidden;
}

.hero {
  padding-top: 160px;
  /* padding-bottom: var(--space-xl); */
}
.servicos,
.cta-final {
  background-color: var(--color-background-light);
}

.diferenciais,
.contato {
  background-color: var(--color-background-medium);
}

footer {
  background-color: var(--color-background-dark);
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}
.hero a,
.sobre a {
  color: var(--color-text-light);
}

.hero .botao--primario,
.sobre .botao--primario {
  color: var(--color-text-light);
}

/* .cta-final {
  text-align: center;
} */

.copyright {
  color: var(--color-text-light);
}

.body--lock-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  section,
  footer {
    scroll-margin-top: 124px;
  }
}
