.footer__nav {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: var(--space-2xl);
  padding-bottom: var(--space-2xl);
}

.footer__brand img {
  max-width: 150px;
  margin-bottom: var(--space-md);
}

.footer__brand p {
  font-size: var(--font-size-base);
  color: var(--color-text-light);
  max-width: 20ch;
}

.footer__nav-col h4 {
  font-size: var(--font-size-lg);
  color: var(--color-text-light);
  margin-bottom: var(--space-md);
}

.footer__nav-col li {
  margin-bottom: var(--space-md);
}

.footer__nav-col a {
  font-size: var(--font-size-base);
  color: #f4f4f4;
  transition: color 0.3s ease;
}

.footer__nav-col a:hover {
  color: var(--color-primary);
}

.footer__socials{
  display: flex;
  gap: var(--space-md);
  margin-top: var(--space-md);
}

.footer__socials img {
  width: 24px;
  height: 24px;
  /* opacity: 0.7; */
  transition: 0.3s ease;
}
.footer__socials a:hover img {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* opacity: 1; */
}

.footer__copyright {
  border-top: 1px solid #e0e0e0;
  padding-top: var(--space-lg);
  text-align: center;
}

.footer__copyright p {
  font-size: var(--space-base);
  color: #e0e0e0;
}

@media (max-width: 992px){
  .footer__nav {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-2xl);
  }
}

@media (max-width: 768px) {
  .footer__nav {
    grid-template-columns: 1fr;
    text-align: center;
    gap: var(--space-xl);
  }

  .footer__brand img {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__socials {
    justify-content: center;
  }
}
