.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: var(--space-md) 0;
  transition: background-color 0.4s ease, padding 0.4s ease,
    box-shadow 0.4s ease, transform 0.4s ease;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--scrolled {
  position: fixed;
  padding: var(--space-sm) 0;
  background-color: var(--color-text-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header--hidden {
  transform: translateY(-100%);
  box-shadow: none;
}

.header__logo img {
  max-width: 100px;
  height: auto;
}

.header__list {
  display: flex;
  gap: var(--space-2xl);
  list-style: none;
  align-items: center;
}

.header__link {
  font-family: var(--font-text);
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-text-light);
  text-decoration: none;
  position: relative;
  padding-bottom: var(--space-xs);
}

.header__link:hover {
  text-decoration: none;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.header__link:hover::after,
.header__link:focus::after {
  width: 100%;
}

.header__mobile-logo {
  display: none;
  list-style: none;
}

.header__mobile-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 9999;
  padding: 0;
  width: 44px;
  height: 44px;
  display: none;
}

.hamburger-box {
  display: flex;
  position: relative;
  width: 45px;
  height: 24px;
  align-items:center;
  justify-content: center;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--color-text-light);
  transition: all 0.3s ease-in-out;
}

/* .hamburger-inner {
  top: 50%;
  transform: translateY(-50%);
} */

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.header--mobile-open .header__list {
  transform: translateX(0);
}

.header--mobile-open .hamburger-inner {
  background-color: transparent;
  transform: translateY(-50%);
}

.header--mobile-open .hamburger-inner::before {
  top: 0;
  transform: rotate(45deg);
}

.header--mobile-open .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .header__nav{
    padding-right: var(--space-lg);
    padding-left: var(--space-lg);
  }
  
  .header__mobile-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__nav > .botao {
    display: none;
  }

  .header__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: var(--space-section);
    background-color: var(--color-text-primary);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
    
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9998;
  }
  
  .header__link {
    font-size: var(--font-size-2xl);
  }
  
  .header__link::after {
    display: none;
  }

  .header__mobile-logo {
    display: block;
    width: 250px;
    margin-bottom: var(--space-lg);
  }

  .header__mobile-logo img {
    width: 100%;
    height: auto;
  }
}